@model User
 
@{
    ViewBag.Title = "Register";
}
 
<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    <style type="text/css">
        body {
            margin: 20pt !important;
        }
 
        .error {
            color: red;
        }
    </style> 
</head>
<body>
    <script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
          media="screen"/>
 
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div style="max-width: 400px;">
            <h2 class="form-signin-heading" style="color:whitesmoke;">
                Register
            </h2>
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            <small id="firstnameHelpInline" class="text-muted">
              Field Required
            </small>
            <div>
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "error" })
            </div>
            <br/>
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            <small id="lastnameHelpInline" class="text-muted">
              Field Required
            </small>
            <br/>
            <div>
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error" })
            </div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <small id="emailHelpInline" class="text-muted">
              Field Required
            </small>
            <br/>
            <div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
            </div>
            <br/>
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            <small id="usernameHelpInline" class="text-muted">
              Field Required
            </small>
            <div>
                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "error" })
            </div>
            <br/>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <small id="passwordHelpInline" class="text-muted">
              Field Required
            </small>
            <div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
            </div>
            <br/>
            <div id="dvMessage" style="display:none" class="alert alert-danger">
                <strong>Error!</strong>
                <span>@ViewBag.Message</span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" Text="Encrypt" OnClick="Encrypt">Register</button>
    }

    @if (@ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                $("#dvMessage").show();
            });
        </script>
    }
</body>
</html>
